<%= simple_form_for @event do |f| %>
  <%= f.input :date, as: :string, require: false, input_html: {class: "datepicker"}, label: "Select a date" %>
  <%= f.input :presale, label: "Presale price" %>
  <%= f.input :price, label: "Price" %>
  <%= f.input :organisateur %>
  <%= f.input :link, label: "Event link (FB, website, ...)" %>
  <%= f.input :photo, as: :file %>

  <h1>Add a venue</h1>
  <%= f.association :venue, label: "Select an existing venue" %>
  <p>Create a new venue</p>
  <%= f.simple_fields_for :venue do |event_venue| %>
    <%= event_venue.input :name, label: "Venue name" %>
    <%= event_venue.input :address, label: "Venue address" %>
    <%= event_venue.input :website, label: "Venue website" %>
  <% end %>

  <h1>Add Band(s)</h1>
  <%= f.association :bands, label: "Select existing band(s)" %>
  <p>Create new band(s)</p>
  <%= f.simple_fields_for :bands do |event_band| %>
    <div id="fieldsetContainer">
      <fieldset id="0">
        <%= event_band.input :name, label: "Band name", permitted: true %>
        <%= event_band.input :website, label: "Band website", permitted: true %>
      </fieldset>
    </div>
  <% end %>

  <%= f.submit "Add Concert" %>
<% end %>
  <button id="addBand">Add another band</button>
