<div class="card-product">
  <% if event.photo.attached? %>
    <%= cl_image_tag(event.photo.key, :width=>500, :height=>650, :crop=>"fill")  %>
  <% end %>
  <div class="card-product-infos">
    <div class="card-product-text">
      <h4><strong><%= event.date %></strong></h4>
      <% event.bands.each do |band| %>
        <% if band.website %>
          <h5><%= link_to band.name, band.website, html_options = { target: "_blank" } %></h5>
        <% else %>
          <h5><%= band.name %></h5>
        <% end %>
      <% end %>

      <% if event.venue.website %>
        <p><strong><%= link_to event.venue.name, event.venue.website, html_options = { target: "_blank" } %></strong> - <%= event.venue.address %></p>
      <% else %>
        <p><strong><%= event.venue.name %></strong> - <%= event.venue.address %></p>
      <% end %>
      <p><strong>Price/Presale:</strong> <%= event.price %>
      <% if event.presale %>
        / <%= event.presale %>
      <% else %>
        no presale
      <% end %> euros

      <% if event.organisateur %>
         <p><strong>Organize by:</strong> <%= event.organisateur %></p>
      <% end %>

      <% if event.link %>
        <p><strong>Link: </strong><%= link_to "FB Event", event.link, html_options = { target: "_blank" } %></p>
      <% end %>
    </div>
    <div class="card-product-btn">
      <% if user_signed_in? %>
        <% if policy(event).edit? %>
          <div>
            <%= link_to edit_event_path(event) do %>
             <span class="material-icons btn-event-card">edit</span>
            <% end %>
          </div>
          <div>
            <%= link_to event_path(event),
                        method: :delete,
                        data: { confirm: "Are you sure?"} do %>
              <span class="material-icons btn-event-card">delete</span>
            <% end %>
          </div>
          <% if policy(event).confirmation? && !event.confirm %>
            <div>
              <%= simple_form_for event, :url => [:confirmed, event], html: { method: :put } do |f| %>
                <%= f.hidden_field :comfirm, :value => true %>
                <%= button_tag type: 'submit', class: "btn-event-card-validation" do %>
                  <span class="material-icons btn-event-card" >check</span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
