<div class="container">
  <h1>Edit your event</h1>
  <%= simple_form_for ([@venue, @event]) do |f| %>
  <%= f.input :date, as: :string, require: false, input_html: {class: "datepicker"} %>
  <%= f.input :price %>
 <!--  <%= f.association :venue %> -->

  <%= f.simple_fields_for @venue do |event_venue| %>
    <%= event_venue.input :name, label: "Venue name" %>
    <%= event_venue.input :address, label: "Venue address" %>
  <% end %>

  <div id="fieldsetEditContainer">
    <% @event.bands.each_with_index do |band, index| %>
      <%= f.simple_fields_for band do |band| %>
        <%= band.input :name, label: "Band name", input_html: { :id => index }, permitted: true %>
      <% end %>
    <% end %>
  </div>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Update Event" %>
<% end %>
  <button id="addBand">Add another band</button>
</div>
