<div class="container">
  <% @events.each do |event| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <% event.bands.each do |band| %>
         <h2><%= band.name %> </h2>
        <% end %>
        <p><%= event.venue.name %> - <%= event.venue.address %></p>
        <p><%= event.date %> - <%= event.price %> Euros</p>
      </div>
    </div>
  <% end %>
</div>





