<div class="container">
  <%= simple_form_for @event do |f| %>
    <%= f.input :date %>
    <%= f.input :price %>
   <!--  <%= f.association :venue %> -->

      <%= f.simple_fields_for @venue do |event_venue| %>
        <%= event_venue.input :name, label: "Venue name" %>
        <%= event_venue.input :address, label: "Venue address" %>
      <% end %>

      <%= f.simple_fields_for :band do |event_band| %>
      <div id="fieldsetContainer">
        <fieldset id="0">
          <%= event_band.input :name, label: "Band name", permitted: true %>
        <% end %>
        </fieldset>
      </div>
    <%= f.submit "Add Concert" %>
  <% end %>
  <button id="addBand">Add another band</button>
</div>
