<div class="container">
  <div class="form-venue">
    <h1 class="form-title">Edit <%= @band.name %></h1>
    <%= simple_form_for @band do |f| %>
      <%= f.input :name, label: "Band name" %>
      <%= f.input :website, label: "Band website" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
